:root{
  --header-dark:#2B3844;
  --header-light:#FFFFFF;
  --dark-color:#202C36;
  --dark-text:#111517;
  --light-color:#F2F2F2;
}
/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    }
.dark-mode{
  color: var(--header-light);
  background-color: var(--dark-color);
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color:var(--light-color);
    color: #222;
    }

img {
    max-width: 100%;
    height: auto;
    }


  /* CONTAINER */
.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    }


  /* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
    }

  /* HEADER SECTION */
.header{
  /* background-color: var(--header-light); */
}
.header-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.site-title{
  width: 310px;
  margin-right: 650px;
}
.dark-button{
  background-color: unset;
  color: var(--dark-color);
  border: none;
  display: flex;
  align-items: center;
}
.dark-button::before{
  content: url(../img/dark-icon.svg);
}

/* Search form */
.search {
  width: 480px;
  display: flex;
  align-items: center;
}
.search-img {
  margin-right: 24px;
}
.search-input {
  border: none;
}