:root{
  --text-color:#111517;
  --body-bg:#f2f2f2;
  --element-bg:#FFFFFF;
}
/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    }
a{
  text-decoration: none;
}    
.dark-mode{
  --element-bg:#2B3844;
  --text-color:#FFFFFF;
  --body-bg:#202C36;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color:var(--body-bg);
    color:var(--text-color);
    }

img {
    max-width: 100%;
    height: auto;
    }


  /* CONTAINER */
.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    }


  /* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
    }

  /* HEADER SECTION */
.header{
  background-color: var(--element-bg);
}
.header-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.site-title{
  width: 310px;
  margin-right: 650px;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.dark-button{
  background-color: unset;
  color: var(--text-color);
  border: none;
  display: flex;
  align-items: center;
}
.dark-button::before{
  content: url(../img/dark-icon.svg);
}

/* Search form */
.navigation-container{
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.search {
  width: 480px;
  height: 56px;
  display: flex;
  align-items: center;
  border: 0;
  background-color: var(--element-bg);
}
.search-img {
  margin-right: 24px;
  margin-left: 32px;
}
.search-input {
  border: none;
  background-color: unset;
}
/* Navigation */
.filter-region-list {
  width: 200px;
  height: 56px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  margin-top: 0;
  background-color: var(--element-bg);
  list-style: none;
  transform-origin: top left;
}
.filter-region-list:hover{
  transform: scaleY(3);
}
.filter-list-item {
}
.filter-item-link {
  color: var(--text-color);
}

/* Promo Section */
.promo-countries-row {
}
.countries-list {
  margin-top: 0;
  margin-bottom: 75px;
  display: flex;
  list-style: none;
}
.countries-list-item {
  width: 264px;
  height: 336px;
  margin-left: 0;
  background-color: var(--element-bg);
}
.countries-list-item:not(:last-child) {
  margin-right: 75px;
}
.flag-img{
  border-radius: 5px 5px 0 0;
}
.item-title {
  margin-left: 24px;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
}
.item-paragraph {
  margin-left: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.list-item-span{
  font-weight: 300;
}